{% extends 'flatpages/default.html' %}

{% block title %}
Логин
{% endblock title %}

{% block content %}
    {% if user %}
    <h3>Войти в систему</h3>
    <form method="post" action="{% url 'login_user' %}">
        {% csrf_token %}
    <table>
        <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
    </table>
    <input type="submit" value="Войти">
        {% else %}
    </form>
    <button> <a href="{% url 'sighup_user' %}">Регистрация</a> </button>
    {% endif %}
{% endblock content %}